<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h1> Edit User</h1>
<form th:method="post" th:action="@{/admin/edit(id=${user.getId()})}"
      th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}"
         th:errors="*{username}">text error
    </div>
    </br>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}"
         th:errors="*{password}">text error
    </div>
    </br>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}"
         th:errors="*{email}">text error
    </div>
    </br>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color: red" th:if="${#fields.hasErrors('lastname')}"
         th:errors="*{lastname}">text error
    </div>
    </br>
    <label>Select role:
        <input type="checkbox" name="roles"
               th:each="roles : ${role}"
               th:value="${roles.getId()}"
               th:text="${roles.getName().replace('ROLE_', '') + ' '}"
               th:field="*{roles}"
        />
    </label>
    <br>
    <input type="submit" value="Update!"/>
</form>
<form th:action="@{/logout}" method="get">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>